{% extends "base.html" %}

{% block content %}
<form action="/newpost" method="POST">
    <h1>build a blog</h1>
    <label>
        <span class="form_label">Title for your new blog:</span>
        <input name="blog_title" type="text" value="{{post_title}}">
    </label>
    <p class="error">{{title_error}} &nbsp;</p>
    <label>
        <span class="form_label">Your new blog:</span>
        <textarea name="blog_post" type="textarea" rows="10" cols="50">{{post_entry}}</textarea>
    </label>
    <p class="error">{{blog_entry_error}} &nbsp;</p>
    <input class="submit" type="submit" value="Add Entry" />   
</form>

{% endblock %} 
